div.post
  h1
    a(href=post.url)
      = post.title
  div.post_details
    span.date #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
    if post.author
      | &nbsp;by&nbsp;
      span.author #{post.author}
  div.post.content
    != post.preview
  div.tags
    - each tag in post.tags
      a(href=tagURL(tag))
        span.label.label-info #{tag}
